.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  height: 25rem;
  width: 35rem;
}

.loader.hidden {
  animation: fadeOut 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.thumb {
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}
