@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  height: 100%;
}
body{
  display: grid;
  place-items: center;
  overflow: hidden;
}
button{
  padding: 8px 16px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #5addd2;

  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  border-radius: 43% 0 0 56%;
  top:26px;
  border: 1px solid white;
}
button:hover{
  background-color: #54b6f7;
}
.alert{
  background: #5addd2;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0px;
  top:26px;
  border-radius: 27px 0 0 27px;
  border-left: 1px solid #5addd2;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  height:223px;
  width:20px;
}
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
 
  100%{
    transform: translateX(0px);
  }
}
.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(0px);
  }

  100%{
    transform: translateX(100%);
  }
}
.alert .fa-exclamation-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #0077ff;
  font-size: 30px;
}
.alert .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #4b1ba9;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 10%;
  border-radius: 0 0 0 57%;
  transform: translateY(-50%);
  background: #80f7ff;
  padding: 20px 18px;
  cursor: pointer;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert .close-btn:hover{
  background: #54b6f7;
}
.alert .close-btn .fas{
  color: #0213ff;
  font-size: 22px;
  line-height: 40px;
}