* {
  font-family: sans-serif;
}

#myprogress {
  width: 80%;
  background: grey;
  margin: auto;
  border-radius: 50px;
}

#mybar {
  width: 1%;
  background: green;
  color: white;
  text-align: center;
  border-radius: 50px;
}
