* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
}
#text {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-100%, -100%);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 100px;
}
/*.col-12 */
a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #209cee;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: bottom right;
  transform: scale(0);
}
a:hover:before {
  transition: transform 0.5s;
  transform-origin: top left;
  transform: scale(1);
}
a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
  box-sizing: border-box;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: top left;
  transform: scale(1);
}
a:hover:after {
  transition: transform 0.5s;
  transform-origin: bottom right;
  transform: scale(0);
}
