* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(62, 86, 165);
}

#button-container {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: rgba(17, 6, 6, 0.842);
  border-radius: 5px;
  transition: transform 500ms ease-in-out 25ms;
}

#button-container:hover {
  transform: translateX(-5px) translateY(5px);
}

.btn {
  border-radius: 0;
  height: 100px;
  width: 180px;
  border-radius: 5px;
  border: 2px black solid;
  background-color: #ffffff;
  transition: transform 500ms ease-in-out 25ms;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  transform: translateX(10px) translateY(-10px);
}
