@import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: #000;
  margin-left: 23px;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
}

a {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  text-decoration: none;
  color: #21ebff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #003);
}

a:hover {
  background: #21ebff;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
  overflow: hidden;
}

a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: 0.5s;
}
a:hover:before {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

a:hover:after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: 0.5s;
}
