body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #f7f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	background-color: greenyellow;
  }
  
  .container {
	width: 1000px;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-left:50px;
	margin-top: 50px;
  }
  
  .container .card {
	position: relative;
	border-radius: 10px;
  }
  .container p{
	  color:brown;
	  font-size: larger;
	  padding: 10px;

  }
  .container a {
	text-decoration: none;
	color: #141414;
	text-align: center;
	font-size:x-large;
	padding: 10px;
  }
  .flip-card {
	background-color:transparent;
	width: 300px;
	height: 450px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
   /* This container is needed to position the front and back side */
  .flip-card-inner {
	position: bottom;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	}
  
	/* Do an horizontal flip when you move the mouse over the flip box container */
	.flip-card:hover .flip-card-inner {
	 transform: rotateY(-180deg);
	}
  
	/* Position the front and back side */
	.flip-card-front, .flip-card-back {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 -webkit-backface-visibility: hidden; /* Safari */
	 backface-visibility: hidden;
	}
  
	/* Style the front side (fallback if image is missing) */
	.flip-card-front {
	  background-color:#212529;
	  align-items: center;
	}
	.flip-card-back {
	background-color:#212529;
	color: white;
	font-size: larger;
	font-weight: bold;
	transform: rotateY(180deg);
	}
